body, html {
	height: 100%;
}

ul {
	list-style: none;
}

h1 {
	color: white;
}

.blue-bg {
	background-image: url("blue1.jpg");
	height:100%;

    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron {
   background: rgba(255, 255, 255, 0.50);
   color: rgb(0, 0, 102);

}

