body, html {
	height: 100%;
}

.wallpaper {
	background-image: url("brick.jpg");
	height:100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}

.page {
   background: rgba(255, 153, 153, 0.75);
   color: white;
}